table
{
	border: solid;
	border-collapse: collapse;
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;	

}
table td
{

	border: solid 0.1px;
	padding-left: -1em;
	margin: 0;
}
table tr td
{
	padding: 0;
	margin: 0;
}
#tabla
{
	overflow-y:scroll;
   height:20em;
}
.non
{
	background-color: rgba(255, 0, 0, 0.35);
}
.par
{
	background-color: rgba(113, 105, 255, 0.35);
}