a
{
	text-decoration: none;
}
body 
{
	background: #000;
	background-image:  url(imagenes/tecii.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: #EEE;
	font-family: Arial;
	font-size: 16px;
	text-align: center;
	padding: 0 14%;
}

header
{
	box-shadow: #eee 6px 6px 10px;
	background: #922222;
	border-radius: 10px;
	margin: 0;
	padding: 1em 0;
	width: 100%;
	height: 10em;
}
header #acceder
{	
	border-radius: 2px;
	background: transparent;
	
	color: #fff;
	text-align: center;
	width: 15%;
	float: right;
	margin-right: 2%;
	margin-top: 1%;

}
header #cabecera #imagen
{
	width:100%;
	border-radius: 2em;
	height:100%;
	box-shadow: #FC0 6px 6px 10px;
}
header #cabecera
{
	width: 80%;
	height: 95%;
}
header #acceder, header #noticias 
{
	display: inline-block;
	vertical-align: top;
}
footer
{
	color: black;
}
footer
{
	color: white;
}
#noticias
{
	width: 45%;
	height: 400px;
	text-align: center;
	float: left;
}

#servicios
{
	box-shadow: #000 6px 6px 10px;
	width: 45%;
	height: 100%
	text-align: center;
}
#contenedor
{
	border-radius: 10px;
	background: rgba(255, 255, 255, .3);
	margin: 1em 0 0 0;
	border: solid 1px;
	height: 90em;
}
#noticias, #servicios, 
{
	margin: 0.3em 0.7em;
	display: inline-block;
	vertical-align: top;
}

#servicios
{
	text-align: center;
	padding: -2em 0 0 0;
	margin-top: 6em;
	border-radius: 0.5em 1.5em;
	background: rgba(0, 0, 0, .3);
}
#noticias #img2
{
	border-radius: 130px 10px 130px 10px;
	padding: 0 0 0 0;
	width: 100%;
	height: 100%;
	transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
#noticias #img2:hover
{
	transform:  rotate(10deg);
    -webkit-transform:  rotate(10deg);;
}
#nom, #pass, #InSe, #reg
{
	width: 80%;
}

#uno, #dos, #tres, #cuatro, #cinco, #seis, #siete, #ocho
{
	width: 15%;
	vertical-align: top;
	margin: 0;
}
#uno:hover, #dos:hover, #tres:hover, #cuatro:hover, #cinco:hover, #seis:hover, #siete:hover, #ocho:hover
{
	border: solid 1px black;
	transform: scale(2.5);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    border-radius: 40px 40px 0 0;
}

.names{
	text-decoration: none;
	color: #fff;
	font-family: Arial;
	font-style: oblique;
	margin-bottom: 
}
.list_top10 {
margin: 0px 0px 0px 380px;
padding: 10px 0px 0px 0px;
width: 387px;
height: auto;
float: left;
text-align: left;
}
.top10 {
margin: 5px 0px 2px 0px;
padding: 0px 0px 0px 0px;
width: 387px;
height: 14px;
float: left;
}
.name_top10 a {
font-family: Arial, Helvetica, sans-serif;
color: #FFF;
font-size: 16px;
text-decoration: none;
font-style: normal;
font-weight: 100;
}
.name_top10 a:hover{
font-size: 18px;
color: green;

}
.info,#uno{
	vertical-align: top;
}
#reg, #InSe {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #3498db;
  padding: 5px 20px 5px 20px;
  text-decoration: none;
}

#reg:hover,#InSe:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

